body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4fa !important;
}

:root {
  --primary: #27895d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navtext {
  color: #4b5563;
  text-decoration: none;
}

.active-nav {
  /* background: #27895d; */
  color: var(--primary);
  text-decoration: none;
}

.textArea {
  height: 140px;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-family: inherit;
  resize: none;
  border-radius: 4px;
  border-color: #c4c4c4;
  outline: none;
}

.textArea:focus {
  border: 2px solid var(--primary);
}

.primaryBtn {
  background-color: var(--primary);
  box-shadow: none;
}

body::-webkit-scrollbar {
  display: none;
}
